# Local environment files
.env
venv

# Local database files
db.sqlite3

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# Eclipse project files
.settings/
.classpath
.project

# Visual Studio Code project files
*.code-workspace
.history/
.vscode/

# Elastic Beanstalk files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
